*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-width: $desktop-width;

  font-style: normal;
  font-weight: 400;
  font-family: $font-base;
  color: $black;
}